*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    width: 100%;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 2rem;
}
header{
    border-bottom: 1px solid whitesmoke;
    height: 4rem;
}
nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-top: 1.5rem;
    font-size: 18px;
}
#logo{
    text-decoration: none;
     color: white;
    font-size: 25px;
    font-weight: 600;
}
.navlink{
    color: whitesmoke;
    text-decoration: none;
}
.girding{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 1px;
    width: 50%;
}
section{
    padding-top: 30px;
    padding-bottom: 30px;
}
.girding img{
    height: 100%;
    width: 100%;
}
.img1{
    grid-row: 1;
    grid-column: 1;
}
.img2{
    grid-column: 1;
    grid-row: 2;
}
.img3{
    grid-row: 3;
    grid-column: 1;

}
.img4{
    grid-row: 4;
    grid-column: 1;
}
.img5{
    grid-column: 2/span4;
    grid-row: 1/span4;
}
#sect1 h1{
    color: green;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 1px solid rgb(128, 128, 31);
    font-size: 40px;
    font-weight: 600;
}
#section1 .container{
    display: flex
}
.productdiv{
    margin-left: 2rem;
}
.productdiv h1{
    color: rgb(208, 44, 44);
    font-size: 30px;
    font-weight: 600;
}
.images{
    margin-top: 1rem;
    display: flex;
    gap:4px;
    margin-bottom: 1rem;
}
.images img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.productdiv h2{
font-size: 30px;
  color: rgb(224, 217, 217);
 
}

span{
    color: whitesmoke;
    border-bottom: 1px solid rgb(208, 205, 205);
    font-style: italic;
    font-size: 20px;
    padding-top: 10px;
}
.productdiv p{
    padding-top: 10px;
    color: white;
}
.buttonholder{
    margin-top: 1rem;
}
.link{
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    background-color: white;
    border-radius: 8px;
    color: green;
}
